
html{
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.app_header {
  margin-bottom: -130px;
}

.app_header >h2 {
  text-align: center;
  color: white;
}

.app-logo {
  height: 12vh;
  margin-bottom: -30px;
}

.app_videos {
  position: relative;
  height: 65vh;
  width: 70%;
  background-color: white;
  max-width: 290px;
  max-height: 1200px;
  border-color: white;
  border-radius: 20px;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.app_videos::-webkit-scrollbar {
  display: none;
}

.app_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}